 /*  .carousel-inner img{
                       هذا راح نعوفه احنا لانه نضمنا طول الصورة من الصفحة هناك
}  */


             /*هذا جبناه من المتصفح في كوكل حيث بعد اختيار الفونت ستايل اختارينا الامبورت لازم هذا نضعه هنا والي جواه بالبدي هنانا*/
 @import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');
body{
    background-color: #545454;
    font-family: 'Twinkle Star', cursive;  /*هذا جبناه من المتصفح في كوكل حيث بعد اختيار الفونت ستايل اختارينا الامبورت لازم هذا نضعه هنانا والي فوكاه الامبورت */
}

.carousel-inner h1 {
    text-shadow: 1px 1px #000;
}

.carousel-inner .carousel-caption {
    background-color: rgba(200, 200, 200 ,0.3);
    border-radius: 7px;
}

code{
    font-size: 135% !important; /*كتبنا كلمة الامبورتنت حتى نتغلب على الامبورتنت مال البلوك البدي ومياخذ الستايل مالته*/
}

.navbar{
    background-color: #232930e8 !important; /*الشفافية جبناها من السلايد الي يطلع بلوحة اللون هلشكل ايضا انطيناها امبورت حتى تتغلب على الستايل العام مال البدي*/
}

.myicon{
    width: 40px;
    height:40px;
    border: 2px solid rgb(223, 206, 57);
    border-radius: 15px;  /*لمن انطينا العرض والارتفاع 30 فراح ننطي نصف القطر 15 فراح يطلع احلى*/
}


footer{
    margin-top: 50px;
    padding:10px;
    padding-bottom:1px;
    margin-bottom: -25px; /*هنانا حتى نبين انه الفوتر هو نهاية الموقع وماكو شي وراه بعد*/
}

/*////////////////// راح نسوي الفكسد باك كراوند امجز والي نستخدمها عندما يكون عدنا الموقع طويل فراح تضيف جمالية للموقع //////////////*/
.fixedimg{  /*هذا يمثل الكلاس الحقيقي يعني مال البوت ستراب */
     background-attachment: fixed;
     background-size: cover;
     height: 250px;
}

.fixedbackimg1{   /*هذا راح نضيفه احنا للكلاس البوت ستراب والي راح يحتوي الصورة */
    background-image: url(images/fixedbackground1.jpg);  /*مجرد غيرنا اتجاه الباك سلاش ظهرت عدنا الصورة الخلفية بالموقع*/
}

.fixedbackimg2{   /*هذا راح نضيفه احنا للكلاس البوت ستراب والي راح يحتوي الصورة */
    background-image: url(images/fixedbackground2.jpg);
}

/*///////////////////////////////// هنانا راح نجعل الناف بار بيه هوفر وبيه انسيابيه يعني راح ننطيه جمالية لمن نضع عليه الماوس هذا الشغل سويناه باخير الفديو*/
.navbar-brand:hover{
     text-shadow: 10px 10px 20px #fff,
                 -10px -10px 20px #fff;
}

.navbar li:hover{   /*معناتها لمن المسها هذا هو معنى الهوفر فلمن نلمس اللسته راح تتمدد الى جهة اليسار بمقدار عشرة بكسل */
    padding-left: 10px;
}

.navbar-brand , .navbar li { /*هنانا سوينا الانسيابية */
    transition: 0.5s;
}


a{
    color: #cecbcb !important; /*هنا معناتها انه كل الروابط مالتنا انطيها هذا اللون */
}

a:hover{
    color: #fff !important; /*يعني لمن اهفر عليه للرابط يصير لونه ابيض */
}

.text-light-info{
    color: #60D9EB;
}
/*بعد مسوينا الاعدادات مال السي اس اس راح نستدعي هذه الصفحة في الاج تي ام ال في بلوك الهيد*/

/*تم تغير الخط للموقع مالتنا الي دنشتغل عليه وذلك عن طريق كتابة في المتصفح كوكل العبارة كوكل فونتس ومن ثم اختارينا الستايل الي نريده ومن ثم 
اخذنا ضغطنا على سيلكت ستايل ومن ثم اختارينا امبورت واخذناه كوبي بيست ومن ثم اختارينا الفونت فاملي مال الخط ووضعناه هنانا في بلوك البدي*/